#root {
  text-align: center;
  font-family: 'Roboto', sans-serif;;
}

.App{
  max-width: 50vw;

  text-align: center;
  justify-content: center;
  background-color: gray;
  margin: auto;
  padding: 20px;
}

.navbar{
  position: sticky;
  top: 0;
  text-align: center;
  display: flex;
  padding: 2rem;
  background-color: black;
  background: rgb(29,56,205);
  background: linear-gradient(110deg, rgb(36, 61, 203) 0%, rgb(0, 0, 0) 59%, rgb(196, 37, 37) 100%);
  max-width: 100%;
  flex-wrap: nowrap;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.467);
}

.text1{
}

.background{
  display: flex;
  justify-content: space-between;
  height: 100%;
  position: fixed;
  z-index: -1;
}