#root {
  text-align: center;
  font-family: 'Roboto', sans-serif;;
}

.content{
  max-width: 50vw;

  text-align: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  margin: auto;
  padding: 20px;
  z-index: 1;
  color: rgb(255, 255, 255);
}

.back{
  background: linear-gradient(90deg, rgb(6, 13, 56) 0%, rgb(0, 0, 0) 33%, rgb(0, 0, 0) 66%, rgb(88, 6, 6) 100%);
  height: 100%;
  width: 100%;
  position: relative;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left{
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}
.img_left{
  position: relative;
  z-index: -1;
  object-fit: cover;
  max-height: 100vh;
  margin-top: 25%;
}

.right{
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
  margin-top: 6%;
}
.img_right{
  position: relative;
  z-index: -1;
  object-fit: cover;
  max-height: 100vh;
}

.img_left, .img_right{
  -webkit-box-shadow: 0px 0px 15px 4px #000000; 
box-shadow: 0px 0px 15px 4px #000000;
}

.navbar{
  position: sticky;
  top: 0;
  text-align: center;
  display: flex;
  padding: 2.8rem;
  background-color: black;
  background: rgb(29,56,205);
  background: linear-gradient(110deg, rgb(36, 61, 203) 0%, rgb(0, 0, 0) 59%, rgb(196, 37, 37) 100%);
  max-width: 100%;
  flex-wrap: nowrap;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.467);
}

.background{
  display: flex;
  justify-content: space-between;
  height: 100%;
  position: fixed;
  z-index: -1;
}