.bg-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    background-color: black;
}
.bg_left{
    height: 100vh;
    width: 49%;
}
.bg_right{
    height: 100vh;
    width: 51%;
   display: flex;
   justify-content: right;
}