#main_title{
    padding-bottom: 20%
}

section {
    margin: 0;
    padding: 0;
    height: 100%;
    opacity: 0;
}

.text-1-1 {
    opacity: 0;
    filter: blur(1px);
    transform: translateY(30%);
}

.text-1-2 {
    opacity: 0;
    filter: blur(1px);
    transform: translateY(30%);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1.5s;
}

.pblock {
    margin-top: -40px;
    padding-left: 3%;
}

.title {
    background: linear-gradient(to left, rgb(185, 25, 25), #0000 50%, rgb(29, 49, 177) 100%);
    background-position: 0 100%;
    background-size: 100% 2px;
    background-repeat: repeat-x;
}

.text{
    padding-top: 6%;
    text-align: justify;
}

.container{
    height: 100vh;
}

.subtitle{
    text-align: "left";
}

#BLM{
    margin-top: 110vh;
}
#Feminismus{
    margin-top: 120vh;
}
#Liberaler_Feminismus{
    margin-top: 15vh;
}
#Differenzfeminismus{
    margin-top: 85vh;
}
#Radikaler_Differenzfeminismus{
    margin-top: 20vh
}
#Konservativer_Feminismus{
    margin-top: 20vh
}
#Sozialistischer_Feminismus{
    margin-top: 130vh;
}
#Transformativer_Feminismus{
    margin-top: 20vh
}
#Öko-Feminismus{
    margin-top: 20vh
}
#Postkolonialer_Feminismus{
    margin-top: 165vh;
}
#Cancel_Culture{
    margin-top: 30vh
}
#Me_Too{
    margin-top: 40vh
}
